//ComponentsStart========================================================================================================================================================
.lang-select {
   &._active {
      .lang-select__body {
         opacity: 1;
         visibility: visible;
         transition: all 0.3s ease 0s;
      }
      .lang-select__arrow {
         transform: rotate(-180deg);
         transition: all 0.3s ease 0s;
      }
   }
   &__head {
      background: rgba(242, 243, 244, 0.5);
      border-radius: 5px;
      padding: 11px 15px;
      border: none;
      color: var(--white);
      gap: 5px;
      max-width: 70px;
   }

   &__value {
      pointer-events: none;
   }

   &__arrow {
      width: 20px;
      height: 8px;
      transition: all 0.3s ease 0s;
      pointer-events: none;
   }

   &__body {
      position: absolute;
      right: 0;
      top: 100%;
      background: var(--white);
      border: 1px solid #d7d7d7;
      border-radius: 10px;
      padding: 10px 20px;
      max-width: 200px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-height: 300px;
      overflow: hidden;
      overflow-y: scroll;
      word-wrap: break-word;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      &::-webkit-scrollbar {
         padding: 10px 0px;
         width: 8px;
         height: 8px;
         background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
         background-color: #d7d7d7;
         border-radius: 10px;
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
   }

   &__item {
      display: block;
      border: none;
      background-color: var(--white);
      border-radius: 10px;
      padding: 5px 10px;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            background-color: #d7d7d7;
            transition: all 0.3s ease 0s;
         }
      }
   }
}
//ComponentsEnd========================================================================================================================================================
//InfoColStart========================================================================================================================================================
.login-info {
   @media (max-width: 991.98px) {
      display: none;
   }
   &__top-line {
      top: 5%;
      left: 50%;
      transform: translate(-50%, 0px);
      max-width: 65%;
      z-index: 10;
      @media (max-width: 1200px) {
         max-width: 85%;
      }
   }
}
.carousel-item {
   &__info {
      font-family: 'Inter';
      color: var(--white);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 65%;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 25px 15px;
      border-radius: 10px;
      @media (max-width: 1200px) {
         max-width: 85%;
      }
   }
   &__title {
      font-size: 50px;
      line-height: 100%;
      margin-bottom: 60px;
      letter-spacing: -0.03em;
      @media (max-width: 1200px) {
         margin-bottom: 40px;
         font-size: 40px;
      }
   }
   &__text {
      font-weight: 300;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: -0.03em;
      opacity: 0.9;
      max-width: 345px;
   }
   &__image {
      img {
         object-fit: cover;
      }
   }
}
//InfoColEnd========================================================================================================================================================
//FormColStart========================================================================================================================================================
.login-form {
   &__top-line {
      @media (min-width: 991.98px) {
         display: none;
      }
      top: 0;
      left: 0;
      padding: 50px 50px 0px 50px;
      @media (max-width: 991.98px) {
         padding: 20px 15px;
      }
      .lang-select__head {
         background: var(--white);
         border: 1px solid #d7d7d7;
      }
      .lang-select__value {
         color: var(--black);
      }
   }
   &__content {
      max-width: 415px;
      @media (max-width: 991.98px) {
         margin: 0px 15px;
      }
   }

   &__title {
      font-family: 'Inter';
      font-size: 40px;
      letter-spacing: -0.03em;
      margin-bottom: 40px;
      @media (max-width: 575.98px) {
         margin-bottom: 20px;
      }
   }

   &__list-link {
      gap: 5px;
      margin-bottom: 30px;
   }

   &__link {
      padding: 15px 35px;
      @media (max-width: 575.98px) {
         padding: 10px 20px;
      }
      img {
         width: 25px;
         height: 25px;
         @media (max-width: 575.98px) {
            width: 20px;
            height: 20px;
         }
      }
   }

   &__text {
      &_2 {
         margin-bottom: 5px;
      }
   }

   &__form {
      margin-bottom: 30px;
      .form-label {
         margin-bottom: 10px;
      }
      .form-control {
         padding: 17px 20px;
         @media (max-width: 575.98px) {
            padding: 13px 10px;
            font-size: 14px;
         }
      }
      .login-forgot-link {
         text-align: right;
         float: right;
      }
      .btn {
         padding: 15px 10px;
         font-size: 16px;
         @media (max-width: 575.98px) {
            padding: 10px 10px;
         }
      }
   }
   &__registr-link {
      max-width: fit-content;
   }
}
//FormColEnd========================================================================================================================================================
//WrapStart========================================================================================================================================================
.login {
   height: 100%;
   &__content {
      .left & {
         flex-direction: row-reverse;
      }
   }

   &__col {
      flex: 0 0 50%;
      @media (max-width: 991.98px) {
         flex: auto;
      }
   }
   //bootstrap-class Start-========================================================================================================================================================
   .carousel-indicators {
      left: 50%;
      transform: translate(-50%, 0px);
      bottom: 5%;
      margin: 0px 0px 0px 0px;
      gap: 25px;
      & [data-bs-target] {
         width: 6px;
         height: 6px;
         border-radius: 50%;
         transition: all 0.3s ease 0s;
         &.active {
            width: 16px;
            height: 16px;
            transition: all 0.3s ease 0s;
         }
      }
   }
   //bootstrap-class End========================================================================================================================================================
}
//WrapEnd========================================================================================================================================================
//NotifyStart========================================================================================================================================================
.login-notify {
   background: rgba(45, 45, 47, 0.88);
   border-radius: 20px;
   padding: 15px 15px;
   color: var(--white);
   position: relative;
   width: 340px;
   @media (max-width: 575.98px) {
      width: 90%;
      margin: auto;
   }

   &__top-line {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 12px;
   }

   &__img {
      img {
         width: 15px;
         height: 15px;
      }
   }

   &__system-name {
      color: #109cf1;
      margin: 0px 0px 0px 0px;
   }
   &__text {
      font-size: 13px;
      margin: 0px 0px 15px 0px;
   }

   &__buttons {
      display: flex;
   }
   &__btn {
      flex: 0 0 50%;
      background: transparent;
      border: none;
      color: #109cf1;
      @media (any-hover: hover) {
         &:hover {
            transition: all 0.3s ease 0s;
            background-color: rgba(255, 255, 255, 0.2);
         }
      }
      &:first-child {
         border-right: 1px solid #8d83fc;
         border-radius: 10px 0 0 10px;
      }
      &:last-child {
         border-radius: 0 10px 10px 0;
      }
   }
   &__close-btn {
      position: absolute;
      right: 15px;
      top: 15px;
      background: transparent;
      border: none;
      border-radius: 50%;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            transition: all 0.3s ease 0s;
            background-color: rgba(255, 255, 255, 0.2);
         }
      }
      img {
         width: 10px;
         height: 10px;
         pointer-events: none;
      }
   }
}
.notifyjs-corner {
   @media (max-width: 575.98px) {
      width: 100%;
   }
}
//NotifyEnd========================================================================================================================================================
